.signIn__header{
    font-family:'Signika Negative', sans-serif;
}
.spinner{
    position: absolute;
    top:49%;
    right:45%;
   
}
.create__text{
    font-size: 14px;
}
.create__text span{
    font-weight: 600;
    cursor: pointer;
}
.create__text span:hover{
    text-decoration: underline;
    padding-bottom: 8px;
}